#pagetop{
  font-size: 30px;
  color:#F1E4E8;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:20px;
  background-color: rgb(133,189,166);
  border: solid #F1E4E8 10px;
}

#main{
  font-size: 20px;
  color: #F1E4E8;
  margin-left: 20px;
  margin-right: 20px;
}

#footer{
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom:20px;
  border: solid #F1E4E8 10px;
  background-color: rgb(133,189,166);
}

#box{
  background-color: rgb(133,189,166);
  font-size: 20px;
  color: #F1E4E8;
  margin-left: 300px;
  margin-right: 300px;
  margin-top:20px;
  margin-bottom:20px;
  border: solid #F1E4E8 10px;
  padding-left: 150px;
  padding-right:100px;
  padding-top:10px;
}
body{
  background-color: rgb(87,117,144);
  font-family: "Playfair Display"
}

h1{
  font-size: 75px;
  color: #F1E4E8;
  text-align: center;
}

h2{
  font-size: 50px;
  color: #F1E4E8;
  text-align: center;
}

a:link{
  font-size: 20px;
  color: rgb(87,117,144);
}

a:active{
  font-size:25px;
  color: skyblue;
}

a:visited{
  color:grey;
}
hr{
  border: dotted #F1E4E8 3px;
}

p{
  font-size: 20px;
  color:#F1E4E8;
  text-align: center;
}

button{
  background-color: #0FF4C6;
  font-family: "Playfair Display";
  font-size: 30px;
  margin: 15px;
}

#button2{
  margin-left:300px;
}

button:active{
  background-color: #F1E4E8;
}

button:hover{
  border: solid black 3px;
}

img{
  width: 20vw;
  margin-left:290px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid rgb(241,228,232) 10px;
}

#colony{
  margin-left: 625px;
}

#buddies{
  margin-left: 625px;
}
