#pagetop{
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:20px;
  background-color: rgb(133,189,166);
  border: solid rgb(241,228,232) 10px;
}

#main{
  font-size: 20px;
  color: rgb(241,228,232);
  margin-left: 20px;
  margin-right: 20px;
}

#footer{
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom:20px;
  border: solid rgb(241,228,232) 10px;
  background-color: rgb(133,189,166);
}

.box{
  background-color: rgb(133,189,166);
  font-size: 20px;
  color: rgb(241,228,232);
  margin-left: 300px;
  margin-right: 300px;
  margin-top:20px;
  margin-bottom:20px;
  border: solid rgb(241,228,232) 10px;
  padding-left: 150px;
  padding-right:100px;
  padding-top:10px;
}
body{
  background-color: rgb(87,117,144);
  font-family: "Playfair Display"
}

h1{
  font-size: 75px;
  color: rgb(241,228,232);
  text-align: center;
}

h2{
  font-size: 50px;
  color: rgb(241,228,232);
  text-align: center;
}

a:link{
  font-size: 20px;
  color: rgb(87,117,144);
}
hr{
  border: dotted rgb(241,228,232) 3px;
}

p{
  font-size: 20px;
  color: rgb(241,228,232);
  text-align: center;
}

img{
  width: 20vw;
  margin-left:290px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid rgb(241,228,232) 10px;
}

#colony{
  margin-left: 625px;
}

#buddies{
  margin-left: 625px;
}
