body{
  background-color: #BDE0FE;
}

#buttons{
  display: flex;
}

.days{
  flex-grow: 1;
  width: auto;
  margin:3vw;
}

button{
  background-color: #CDB4DB;
  font-family: "New Scheherazade";
  font-size: 25px;
  color:#FFECF3;
  padding:5px;
  border-radius: 8px;
}

button:hover{
  background-color: #FFC8DD;
  color: #717070;
  font-size: 27px;
  font-weight: bold;
}

button:active{
  font-size: 23px;
}

#pagetop{
  text-align: center;
  background-color: #FFAFCC;
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px 30px;
  border-radius: 10px;
  border: solid 10px #CDB4DB;
}

h1{
  font-family: "Raleway";
  color: #FFECF3;
  font-size: 50px;
}

p{
  font-family: "New Scheherazade";
  font-size: 20px;
  color:#FFECF3;
}

#daytitle{
  font-family: "Raleway";
  font-size: 30px;
  background-color: #FFAFCC;
  color: #FFECF3;
  margin-left: 600px;
  margin-right: 600px;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  border: solid 10px #CDB4DB;
}

#main{
  display:flex;
}

#menu,#image,#quote{
  flex-grow: 1;
  width: 150px;
  height: 300px;
  margin:3vw;
  background-color: #FFAFCC;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  text-align: center;
  border: solid 10px #CDB4DB;
}
img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: auto;
  position: relative;
  overflow: hidden;
}

h3{
  font-family: "New Scheherazade";
  font-size: 30px;
  color:#FFECF3;
  text-align: center;
}
